.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(var(--backgrnd1), var(--backgrnd2));
  padding-inline: 5rem;
  padding-block: 8rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1700px;
  /* flex: 1 1 700px; */
  height: 400px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  background: linear-gradient(90deg, #331a6d 0%, rgba(29, 11, 71, 0.66) 100%);
  margin-bottom: 8rem;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 0rem 2rem;
}

.img {
  flex: 1 1 300px;
  width: 100%;
}

.actionDiv {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 100%;
  background: url("/minecraft.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.textDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  width: 100%;
}

.heading {
  color: var(--text-prim);
  font-family: Afacad;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  width: 70%;
  line-height: 87.053%; /* 31.377px */
}

.button {
  font-size: 32px;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  width: 100%;
  max-width: 1700px;
}

.heading2 {
  color: var(--text-prim);
  font-family: Afacad;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.053%;
}

.clients {
  color: var(--prim-col);
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  /* height: 350px; */
}

.testContainer {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: rgba(153, 53, 211, 0.06);
  background-color: rgba(153, 53, 211, 0.06);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 3rem 2rem;
}

.middleContainer {
  background: #381e74;
}

.name {
  color: var(--text-prim);
  text-align: center;
  font-family: Afacad;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  z-index: 5;
  width: fit-content;
  margin-inline: auto;
  position: relative;
}

.desc {
  color: var(--text-prim);
  text-align: center;
  font-family: Afacad;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.commaDiv {
  position: absolute;
  /* top: -80%; */
  top: 0;
  left: -25%;
  width: 110px;
}

.comma {
  width: 100%;
}

@media screen and (max-width: 1676px) {
  .container {
    height: 300px;
  }

  .heading {
    font-size: 36px;
  }

  .heading2 {
    font-size: 48px;
  }

  .name {
    font-size: 32px;
    margin-bottom: 2rem;
  }

  .desc {
    font-size: 16px;
  }

  .commaDiv {
    width: 80px;
    top: 0;
  }
}

@media screen and (max-width: 1486px) {
  .container {
    height: 280px;
  }

  .textDiv {
    padding: 1.5rem 2rem;
  }

  .heading {
    font-size: 32px;
  }

  .testimonialContainer {
    gap: 3rem;
  }

  .heading2 {
    font-size: 40px;
  }

  .button {
    font-size: 24px;
  }

  .testContainer {
    padding: 2.5rem 2.5rem;
  }

  .name {
    font-size: 28px;
    margin-bottom: 1.7rem;
  }

  .commaDiv {
    width: 60px;
    top: 0;
    left: -20%;
  }

  .desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 1378px) {
  .container {
    height: 260px;
  }

  .testContainer {
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 1228px) {
  .parent {
    padding-block: 6rem;
  }

  .container {
    height: 240px;
  }

  .textDiv {
    padding: 1rem 1rem;
  }

  .heading {
    font-size: 20px;
  }

  .button {
    font-size: 16px;
  }

  .name {
    font-size: 22px;
    margin-bottom: 1.5rem;
  }

  .heading2 {
    font-size: 36px;
  }

  .commaDiv {
    width: 40px;
    top: 10%;
    left: -20%;
  }

  .desc {
    font-size: 12px;
  }
}

@media screen and (max-width: 1058px) {
  .parent {
    padding-inline: 2.5rem;
  }

  .container {
    height: 200px;
  }

  .grid {
    column-gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    height: 180px;
    margin-bottom: 6rem;
  }

  .button {
    padding-inline: 1rem;
    font-size: 14px;
  }

  .heading {
    font-size: 16px;
  }

  .textDiv {
    padding: 0.7rem 1rem;
  }

  .grid {
    display: flex;
    width: 100%;
    grid-template-columns: unset;
    column-gap: unset;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* height: 350px; */
  }

  .testContainer {
    max-width: 45%;
    background-color: #381e74;
  }
}

@media screen and (max-width: 737px) {
  .container {
    height: 160px;
  }

  .imgWrapper {
    padding-inline: 1rem;
  }

  .button {
    padding-inline: 0.7rem;
    padding-block: 0.4rem;
    font-size: 12px;
    min-width: fit-content;
  }

  .heading {
    font-size: 14px;
  }

  .testContainer {
    min-width: 300px;
    width: 80%;
    max-width: unset;
  }

  .desc {
    max-width: 400px;
  }
}

@media screen and (max-width: 603px) {
  .parent {
    padding-inline: 1rem;
    padding-block: 4rem;
  }
}

@media screen and (max-width: 483px) {
  .container {
    height: unset;
    margin-bottom: 5rem;
    /* background: unset; */
    /* border: unset; */
    flex-direction: column;
    /* gap: 0.5rem; */
    border-radius: 40px;
  }

  .actionDiv {
    height: 200px;
    order: 1;
  }

  .imgWrapper {
    padding-inline: 0.2rem;
    order: 2;
  }
  .textDiv {
    padding: 1rem;
  }

  .heading {
    font-size: 18px;
  }

  .testContainer {
    width: 100%;
  }

  .name {
    font-size: 28px;
  }

  .desc {
    font-size: 18px;
  }

  .commaDiv {
    width: 60px;
    top: -5%;
  }

  .button {
    font-size: 16px;
  }
}


@media screen and (max-width: 383px) {
  .desc {
    font-size: 16px;
  }
}