.parent {
  width: 100%;
  background: linear-gradient(var(--backgrnd1), var(--backgrnd2));
  height: 1000px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-inline: 5rem;
  position: relative;
}

.artifacts {
  position: absolute;
  top: 10%;
  left: 50%;
}

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1700px;
  /* padding-inline: 5rem; */
}

.imgDiv {
  position: absolute;
  /* top: 65px; */
  top: -28%;
  right: 0vw;
  overflow: hidden;
}

.img:hover{
  transform: rotate(5deg) scale(1.08) ;
}

.img {
  transition: all 0.3s ease;
  position: relative;
  right: -8%;
  /* width: 900px; */

  filter: sepia(0.1) hue-rotate(-10deg) saturate(1.2);
  width: calc(30vw + 400px);
  z-index: 1;
}

.mainContainer {
  /* padding-right: 700px; */
  width: 50%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.heading {
  color: var(--text-prim);
  font-family: Afacad;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.027%;
  position: relative;
  margin-bottom: 2.5rem;
}

.heading::after {
  content: "";
  position: absolute;
  width: 165px;
  height: 144px;
  background-color: var(--accent-shady);
  border-radius: 50%;
  top: -35px;
  left: -50px;
}

.description {
  color: var(--gray-text);
  font-family: Afacad;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 2.5rem;
}

.primaryHighlightedText {
  color: var(--prim-col);
}

.secondaryHighlightedText {
  color: var(--accent-col);
  position: relative;
}

.secondaryHighlightedText::after {
  content: "";
  position: absolute;
  background-color: var(--shady-underline);
  width: 90%;
  height: 25px;
  bottom: 13%;
  left: 5%;
}

.buttonDiv {
  display: flex;
  gap: 4rem;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.getStartedButton {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: var(--button-shadow-primary);
  padding-block: 0.7rem;
  padding-inline: 2rem;
  position: relative;
  z-index: 1;
  color: #dddbe200;
  transition: all 0.2s ease;
}

.getStartedButton:hover .shadow {
  background-color: var(--accent-col);
  top: -9%;
  left: -3%;
}

.getStartedButton:hover {
  background-color: var(--shady-underline);
}

.shadow {
  transition: all 0.2s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--prim-col);
  color: var(--text-prim);
  position: absolute;
  font-family: Afacad;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 20px;
  padding: 0.7rem 2rem;
  z-index: -1;
  left: -5%;
  top: -15%;
}

.discordDiv {
  color: var(--text-prim);
  text-decoration: none;
  font-family: Afacad;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.discord {
  font-weight: 700;
}

.discordSvg {
  width: 45px;
}

@media screen and (min-width: 1790px) {
  .parent {
    justify-content: center;
  }

  .img {
    width: 1000px;
  }
}

@media screen and (max-width: 1676px) {
  .imgDiv {
    top: -18%;
  }
  .img {
    width: calc(25vw + 450px);
  }
  .parent {
    height: 780px;
  }
}

@media screen and (min-width: 1750px) {
  .heading {
    font-size: 96px;
  }

  .shadow,
  .getStartedButton {
    font-size: 30px;
  }
}

@media screen and (max-width: 1486px) {
  .parent {
    height: 650px;
  }

  .heading {
    font-size: 64px;
    margin-bottom: 2rem;
  }

  .heading::after {
    width: 120px;
    height: 110px;
    top: -25px;
    left: -32px;
  }

  .description {
    font-size: 20px;
  }

  .shadow,
  .getStartedButton {
    font-size: 20px;
    padding: 0.5rem 1.5rem;
  }

  .discordDiv {
    font-size: 20px;
  }

  .discordSvg {
    width: 36px;
  }

  .imgDiv {
    top: -36%;
  }

  .img {
    width: calc(16vw + 400px);
  }

  .artifacts svg {
    width: 400px;
  }

  .secondaryHighlightedText::after {
    height: 20px;
  }
}

@media screen and (max-width: 1373px) {
  .imgDiv {
    top: -16%;
  }
  /* .img {
    width: calc(16vw + 400px);
  } */
}

@media screen and (max-width: 1228px) {
  .heading {
    font-size: 56px;
    margin-bottom: 1.5rem;
  }
  .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 1058px) {
  .parent {
    padding-inline: 2.5rem;
  }
}

@media screen and (max-width: 900px) {
  .img {
    width: calc(10vw + 300px);
  }
  .heading {
    font-size: 48px;
  }
  .description {
    font-size: 14px;
  }
  .discordDiv {
    font-size: 16px;
  }

  .mainContainer {
    width: 60%;
  }

  .buttonDiv {
    gap: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .parent {
    height: 500px;
  }

  .artifacts {
    width: 300px;
    top: -5%;
    left: 50%;
  }
  .artifacts svg {
    width: 100%;
  }
}

@media screen and (max-width: 737px) {
  .imgDiv {
    display: none;
  }

  .mainContainer {
    width: 100%;
  }

  .artifacts {
    width: 200px;
    top: -25%;
    left: 50%;
  }
}

@media screen and (max-width: 603px) {
  .parent {
    padding-inline: 1rem;
  }

  .artifacts {
    width: 150px;
    top: -35%;
    left: 50%;
  }

  .buttonDiv {
    gap: 2rem;
    padding-left: 0.5rem;
  }

  .heading {
    font-size: 56px;
  }
  
  .description {
    font-size: 16px;
  }
  
  .discordDiv {
    /* display: none; */
  }
  
  .heading::after {
    width: 70px;
    height: 65px;
    top: -6px;
    left: -15px;
  }
}

@media screen and (max-width: 484px) {
  .parent {
    height: 550px;
    align-items: end;
    padding-block: 2rem;
  }

  .artifacts{
    top: -25%;
  }

  .description{
    font-size: 20px;
  }
}

@media screen and (max-width: 384px) {
  .heading{
    font-size: 40px;
  }

  .description{
    font-size: 18px;
  }

  .shadow, .getStartedButton{
    font-size: 20px;
    padding-inline: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-height: 50px;
  }
}