.logoText {
  color: var(--text-prim);
  font-family: Afacad;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.logoHighlightedText {
  color: var(--prim-col);
}



@media screen and (max-width: 1486px) {
    .logoText{
      font-size: 32px;
    }

}

@media screen and (max-width: 1058px) {
    .logoText{
      font-size: 24px;
    }

}