.parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#27174df1, #281850);
  position: fixed;
  flex-direction: column;
  padding: 1rem 2.5rem;
  z-index: 999;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
}

.rightNavDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navLinkDiv {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.navLinkContainer {
  list-style: none;
  position: relative;
}

.navLinks {
  color: var(--text-prim);
  font-family: Afacad;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.underline {
  width: 0%;
  height: 3px;
  background-color: var(--prim-col);
  position: absolute;
  bottom: -5%;
  transition: all 0.2s ease-out;
  z-index: -1;
}

.navLinkContainer:hover .underline {
  width: 100%;
}

.button {
  position: relative;
}

.arrowDiv {
  position: absolute;
  top: 5%;
  right: 6%;
}

.arrow {
  width: 15px;
  transform: scale(0);
  transition: all 0.2s ease;
  height: 15px;
  fill: var(--text-prim);
}

.button:hover .arrow {
  transform: scale(1) rotate(-135deg);
}

.svgDiv{
  width: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}
.svg {
  width: 100%;
}

.svg path{
  fill: var(--text-prim);
}

:global(.active)::after{
  content: '';
  width: 5px;
  left: -12px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--text-prim);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
}

:global(.active):hover::after{
  /* background-color: var(--prim-col);   */
}

@media (max-width: 1676px) {
  .navLinks {
    font-size: 18px;
  }
}

@media (max-width: 1486px) {
  .navLinks {
    font-size: 16px;
  }

  .arrow {
    width: 10px;
  }

  .button {
    font-size: 20px;
  }
}

@media (max-width: 1058px) {
  .parent {
    padding: 0.5rem 2rem;
  }

  .navLinks {
    font-size: 12px;
  }

  .button {
    font-size: 16px;
  }

  .underline {
    height: 2px;
  }

  .rightNavDiv,
  .navLinkDiv {
    gap: 2rem;
  }

  .button {
    padding: 0.4rem 1rem;
  }
}

@media (max-width: 800px) {
  .navLinkDiv {
    display: none;
    cursor: pointer;
  }

  .rightNavDiv{
    gap: 1rem;
  }

  .svgDiv{
    display: flex;
  }
}

@media (max-width: 737px) {
  .parent {
    padding: 0.5rem 1rem;
  }

  .arrowDiv {
    position: absolute;
    top: 6%;
    right: 8%;
  }

  .arrow {
    width: 7px;
  }
}
