@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  color: var(--text-prim);
  border-radius: 20px;
  padding: 0.5rem 1.5rem  ;
  background: var(--accent-col);
  font-family: Afacad;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s;
}


.button:hover{
  background-color: var(--prim-col);
}